.sidebar {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
  width: 200px;
  background: darken($black, 3);
  color: darken($white, 10);

  .sidebar-header {
    padding: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        padding-right: 5px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
    button {
      font-size: 12px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      padding: 3px 5px;
      background: transparent;
      color: $white;
      border: 1px solid $white;

      label {
        max-width: 80%;
        cursor: pointer;
      }
    }

    .select-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .select-file + label {
        max-width: 80%;
        font-size: 12px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.5em 1em;
        color: $white;
        border: 1px solid $white;
    }

    .select-file:focus + label,
    .select-file + label:hover,
    button:hover
    button:active {
        color: $black;
        background: $white;
        outline: 0;
    }
  }

  .sidebar-content {
    height: 100%;
    overflow: auto;

    ul {
      list-style: none;
      padding: 0;

      li {
        color: white;
        padding: 10px;
        cursor: pointer;

        &:hover{
          background: lighten($black, 10);
        }
      }
    }

    &::-webkit-scrollbar-track {
    	border: none;
    	background-color: transparent;
    }

    &::-webkit-scrollbar {
    	width: 7px;
    	background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
    	background-color: lighten($black, 10);
      border-radius: 1px;
    }
  }
}
